<div class="cart-heading">
  <h1 class="h1">Il tuo ordine</h1>
  <div class="action">
    <p class="total">Subtotale <strong>€ 31,90</strong></p>
    <a href="#" class="button">Vai al Checkout</a>
  </div>
</div>
